.root {
	margin-top: var(--space-3);
}

.header {
	margin-bottom: var(--space-2);
}

.content {
	background-color: var(--color-surface);
	padding: var(--space-3);
	border-radius: var(--radius-md);
	overflow-x: auto;
}

.pre {
	margin: 0;
	font-family: monospace;
	font-size: 0.875rem;
}
